// Remove characters before/after table of contents on staff side
// without this the Koha CSS injects an arrow → that looks awkward
// https://library-staff.cca.edu/cgi-bin/koha/catalogue/detail.pl?biblionumber=66476
.contentblock :first-child::before,
.contents .newline::after {
  content: '';
}

// https://bugs.koha-community.org/bugzilla3/show_bug.cgi?id=37024
// fix holdings table scroll bug, see Artforum International for example:
// https://library-staff.cca.edu/cgi-bin/koha/catalogue/detail.pl?biblionumber=55280
.dataTable thead {
  position: sticky !important;
  top: 0 !important;
}

// no need for these "no cover image available" notices
.no-image {
  display: none;
}

// *** https://library-staff.cca.edu/cgi-bin/koha/catalogue/detail.pl?biblionumber=66476
// we don't use Dewey but some imported records may have DDC numbers
.results_summary.ddc {
  display: none;
}
