@import 'colors';

// 2 unused options under "checkout settings" expando
#set-automatic-renewal,
#set_high_holds_overrride {
    display: none;
}

// input not long enough to show full date/time
#duedatespec {
    width: 10em;
}

// avoid confusion with "checkin" column new to renewal column on circ pages
#issues-table input.checkin::after {
    content: 'check in';
    display: block;
    margin-top: 1em;
}

// side-by-side layout when we have multiple (local & Amazon) book covers
#local-thumbnail-preview {
    float: left;
}

#amazon-bookcoverimg {
    float: right;
}
