// long hodings block can overstep its bounds
// might be a problem with other pieces but I'm being very conservative
// and _only_ fixing the observed problem
#holdings {
    overflow: scroll;
}

.item-status.notforloan {
    color: $black-font;
}
// hide "show analytics" link, useless
.results_summary.analytics,
// hide "show volumes" link
.results_summary.volumes,
// hide unwanted social networks, double ID for specificity
#social_networks #delicious,
#social_networks #linkedin,
// hide "views" tabs like MARC, ISBD
// end users don't need to see these
#catalogue_detail_biblio #views {
    display: none;
}

// fix subscription issues icon positioning
#Briefhistory,
#Fullhistory {
    background-position: -8px 3px;
}

// the "more searches" dropdown has class pull-right
// when it really should be pull-left (see on large screen for instance)
#moresearches_menu .dropdown-menu.pull-right {
    left: 0;
    right: auto;
}

#catalogue_detail_biblio {
    font-size: 18px;

    .label {
        font-size: 18px;
    }
}

#bibliodescriptions {
    font-size: 16px;
}
