// new (as of 21.11) cover image carousel
// 1) remove outline
// 2) remove "hint" about where each image came from
#biblio-cover-slider {
    border: 0;
}
.cover-nav,
.cover-slider .hint {
    display: none;
}

// long holdings block can overstep its bounds
// might be a problem with other pieces but I'm being very conservative
// and _only_ fixing the observed problem
#holdings {
    overflow: scroll;
}

.item-status {
    &.lost {
        color: $bs-text-error;
    }

    &.notforloan {
        color: $black-font;
    }
}

// hide "show analytics" link, useless
.results_summary.analytics,
// hide "show volumes" link
.results_summary.volumes,
// hide "views" tabs like MARC, ISBD
// end users don't need to see these
#views {
    display: none;
}

// fix subscription issues icon positioning
#Briefhistory,
#Fullhistory {
    background-position: -8px 3px;
}

// the "more searches" dropdown has class pull-right
// when it really should be pull-left (see on large screen for instance)
#moresearches_menu .dropdown-menu.pull-right {
    left: 0;
    right: auto;
}

// for "more searches" dropdown specifically but also fixes "Lists" etc. too
.dropdown-menu > li > a {
    &:hover,
    &:focus {
        background: $cca-teal none;
    }
}

#catalogue_detail_biblio {
    font-size: 18px;

    .label {
        font-size: 18px;
    }

    .author {
        color: $details-label-black;
        font-size: 18px;
    }
}

#bibliodescriptions {
    font-size: 16px;
}
