// long hodings block can overstep its bounds
// might be a problem with other pieces but I'm being very conservative
// and _only_ fixing the observed problem
#holdings {
    overflow: scroll;
}

.item-status.notforloan {
    color: $black-font;
}
// hide "show analytics" link, useless
.results_summary.analytics {
    display: none;
}
