// used at least in search button on home page but probably elsewhere, too
.btn-primary {
    background: $dark-gray;
    border-color: $dark-gray;
    text-shadow: 0 -1px 0 $btn-text-shadow;

    &:hover {
        background: $dark-gray;
        border-color: lighten($dark-gray, 20%);
        box-shadow: 0 0 0 1px lighten($dark-gray, 30%);
    }
}
