@use 'sass:color';

// override primary button to be dark gray & not lime green
// also override its disabled state (seen in search results action menu)
// html is for specificity
html .btn-primary {
  background: $dark-gray;
  border-color: $dark-gray;
  text-shadow: 0 -1px 0 $btn-text-shadow;

  &:hover {
    background: $dark-gray;
    border-color: color.adjust($dark-gray, $lightness: 20%);
    box-shadow: 0 0 0 1px color.adjust($dark-gray, $lightness: 30%);
  }

  &:not(:disabled):not(.disabled).focus,
  &:not(:disabled):not(.disabled):focus {
    background: color.adjust($dark-gray, $lightness: -60%);
    border-color: color.adjust($dark-gray, $lightness: -60%);
    box-shadow: 0 0 0 1px color.adjust($dark-gray, $lightness: -40%);
  }

  &.disabled,
  &:disabled {
    background-color: $btn-disabled;
    border-color: $btn-disabled;
    color: #fff;
  }

  &.disabled:hover,
  &[disabled]:hover {
    box-shadow: none;
    color: #fff;
    opacity: 0.65;
  }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: $btn-disabled;
  border-color: $btn-disabled;
  color: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
