// bs prefix indicates copied from Bootstrap for consistency
$black: #000;
$bs-text-error: #b94a48;
$btn-text-shadow: rgba(0, 0, 0, .25);
$input-text-shadow: rgba(0, 0, 0, .075);
$black-font: #222;
$white: #fff;
$dark-gray: #434646;
$input-light-gray: #e5e5e4;
$cca-teal: #00bfb3;
$dark-blue: #0076a0;
$toolbar-light-gray-bg: #f0f3f3;
