// don't need lengthy "NoLogin" HTML on home page
#nologininstructions-main {
    display: none;
}

.libraryname {
    color: $dark-gray;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
