.libraryname {
    color: $dark-gray;
    text-align: center;
    text-transform: uppercase;
}

#user_summary {
    h3 {
        background-color: $dark-blue;
        color: $white;
    }

    .loggedinusername:hover {
        text-decoration: underline;
    }
}
