@use "colors";

#opac-main-search {
  background: colors.$white;
}

// fix green outline on main search box
.mastheadsearch {
  input.transl1:focus {
    border-color: colors.$input-light-gray;
    box-shadow: inset 0 1px 1px colors.$input-text-shadow, 0 0 8px colors.$input-text-shadow;
  }
}

// larger search box on home page
#opac-main {
  .mastheadsearch {
    // hide other search form elements
    label,
    select {
      display: none;
    }
  }

  // on larger screens, give a lot more breathing room
  @media screen and (min-width: 940px) {
    // stylelint-disable selector-max-id
    #opacheader {
      margin-top: 2em;
    }
    // stylelint-enable selector-max-id

    .mastheadsearch {
      margin: 3em auto;
    }
  }
}

// search button everywhere
#searchsubmit {
  padding: 12px 32px;
}
