// make the main links menu beneath the search box mirror Libraries site style
#moresearches {
    border-radius: 0;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;

    li {
        border-bottom: 3px solid transparent;
        display: inline-block;
        float: left;
        font-weight: 700;
        height: 55px;
    }

    li::after {
        content: '';
    }

    li:hover {
        border-bottom-color: $dark-blue;
    }

    a {
        display: block;
        padding: 14px 16px;
        text-decoration: none;
    }
}
