#moresearches {
    margin: 0;
    padding: 0 .8em;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-radius: 0px;
    }

    ul li {
        border-bottom: 3px solid transparent;
        display: inline-block;
        float: left;
        font-weight: 700;
        height: 55px;

        &:after {
            content: "";
        }

        &:hover {
            border-bottom-color: $dark-blue;
        }

        a {
            display: block;
            padding: 14px 16px;
            text-decoration: none;
        }
    }
}
