// scss-lint:disable SelectorDepth

// https://bywatersolutions.com/education/opac-changes-coming-in-18-11
// these first 3 selectors override 18.11 theme changes
#logo {
    background-image: url('/opac-tmpl/bootstrap/images/koha-logo-navbar.png');
}

// stylelint-disable selector-max-compound-selectors
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
    color: $white;
    text-shadow: none;
}

#carticon,
#listsmenu .fa,
.cartlabel,
.listslabel,
.loggedinusername,
.listslabel:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav > li > a:focus {
    color: $white;
}

// stylelint-disable declaration-no-important
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret,
.navbar-inverse .nav li.dropdown > a:hover .caret {
    border-bottom-color: $white !important;
    border-top-color: $white !important;
}
// stylelint-enable declaration-no-important


.navbar-inverse .divider-vertical {
    border-left-color: $cca-teal;
    border-right-color: $cca-teal;
}

.navbar-inverse .navbar-inner {
    background: $cca-teal;
    background-repeat: repeat-x;
    border-color: darken($cca-teal, 5%);

    #members .divider-vertical {
        border: 0;
    }
    // stylelint-enable selector-max-compound-selectors
}

#members {
    .userlabel {
        color: $white;

        &:hover {
            text-decoration: underline;
        }
    }

    a .loggedinusername,
    a.login-link {
        color: $dark-blue;
    }
}
