// scss-lint:disable SelectorDepth
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: $white;
    border-top-color: $white;
}

.navbar-inverse .navbar-inner {
    background: $cca-teal;
    background-repeat: repeat-x;
    border-color: darken($cca-teal, 5%);
}

.navbar-inverse .divider-vertical {
    border-left-color: $cca-teal;
    border-right-color: $cca-teal;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
    color: $white;
    text-shadow: none;
}
// scss-lint:enable SelectorDepth

// login link on the right-side of navbar
#members a {
    color: $white;

    &:hover {
        text-decoration: underline;
    }

    &.logout {
        color: $white;
        padding: 0 .3em;
    }
}
