// styles for required inputs
input:required:invalid {
    border: 1px solid lighten($bs-text-error, 20%);
    box-shadow: $bs-text-error 1px 1px 4px;
}

label.required::after {
    content: "*";
    color: $bs-text-error;
}
