// hide misleading/uninformative fields from search results display
// scope to search results, fixes accidentally hiding .edition on bib details
.bibliocol {
    .author,
    .byAuthor,
    .edition,
    .publisher,
    .other_title,
    .results_format,
    .results_contents_literary,
    .results_audience {
        display: none;
    }

    .label {
        font: 400 18px/1.53 Raleway, sans-serif;
    }
}

#results {
    .results_summary {
        font-size: 18px;
    }
}

.results_material_type .materialtype {
    height: 16px;
    width: 16px;
}

.available {
    text-transform: uppercase;
}

// @TODO .selectcol checkbox on left side of results is tiny, easy to miss

#didyoumean {
    display: none;

    &.dym-loaded {
        display: inherit;
    }
}

.no-image {
    display: none;
}
