// hide misleading/uninformative fields from search results display
// scope to search results, fixes accidentally hiding .edition on bib details
.searchresults {
    .results_summary.edition,
	.results_format,
	.results_contents_literary,
	.results_audience {
        display: none;
	}

    .main {
        border: 0;
	}
}

.results_material_type img.materialtype {
    height: 16px;
    width: 16px;
}
