// these first 3 rules pull results up a bit, less useless space at the top of page
.toolbar {
    .highlight_controls {
        display: none;
    }
}

.pagination {
    float: left;
    margin: 1em 0 0;
}

#numresults {
    display: none;
}

@mixin select-input() {
    appearance: none;
    background: $white;
    border: 1px solid $input-light-gray;
    border-radius: 0;
    box-sizing: border-box;
    color: $black-font;
    margin-bottom: 0;
    outline: 0;
    padding: 8px 18px;
    text-indent: .01px;
}

#toolbar select {
    @include select-input;
}

#opac-main-search select {
    @include select-input;

    height: 44px;
    width: 100%;
}
