@import 'colors';
@import 'btns';
@import 'header';
@import 'home';
@import 'mastheadsearch';
@import 'memberentry';
@import 'moresearches';
@import 'toolbar';
@import 'search-results';
@import 'bib-details';
@import 'lists';
@import 'holds';
@import 'renewal';
@import 'suggestions';
@import 'font';
@import 'required';

.breadcrumb {
  display: none;
}

.main {
  border: 0;
}

// class needed for specificity
.no-js body,
.fonts-loaded body {
  background: $white;
  font: 16px Raleway, sans-serif;
}
