/*! compiled CSS, see: https://github.com/cca/koha_snippets */

@import 'vars';
@import 'colors';
@import 'header';
@import 'home';
@import 'coverflow';
@import 'search-results';
@import 'bib-details';
@import 'patron-details';
@import 'holds';
@import 'navbar';

body {
    background-color: $white;
}

.no-image {
    display: none;
}

#members a {
    color: $white;
    font-weight: 700;

    &.logout {
        color: $white;
        padding: 0 .3em;
    }
}

#opacnavbottom {
    section {
        margin-bottom: 20px;
    }

    a {
        color: $cca-orange;
        font-family: $font-fam;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.btn-primary:hover {
    background: $dark-gray;
}

.btn-primary {
    background: $dark-gray;
    background-repeat: repeat-x;
    border-color: $dark-gray;
    color: $white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

#patronregistration a {
    color: $cca-orange;
    font-family: $font-fam;
    font-size: 16px;
    text-transform: uppercase;
}

#moresearches {
    background-color: $dark-gray;

    li a {
        color: $white;
        padding: 10px;
        text-transform: uppercase;
    }
}

.mastheadsearch {
    background: $white;
}

.breadcrumb {
    display: none;
}
